<template>
	<v-container>
    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        dense
        fixed
        extension-height="60px"
      >
        <v-toolbar-title class="text-h5">設計出圖系統</v-toolbar-title>

        <template v-slot:extension>
          <v-row
            dense
          >
            <v-col
              :cols="5"
            >
              <v-tabs
                slider-color="black"
                slider-size="5"
                background-color="yellow darken-1"
              >
                <v-tab
                  v-for="(navItem, index) in navItems"
                  :key="index"
                  x-large
                  class="text-h5"
                  @click="selectNavItem(navItem.name)"
                >
                  {{ navItem.name }}
                </v-tab>
              </v-tabs>
            </v-col>
          </v-row>
        </template>
      </v-app-bar>
    </v-card>

    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 90px;"
    >
      <TaskList v-if="navItemIndex === 0" @copyTask="receiveTask"></TaskList>
      <ViewTask v-if="navItemIndex === 1" :currentTask="currentTask"></ViewTask>
      <CreateTask v-if="navItemIndex === 2"></CreateTask>
      <MaterialList v-if="navItemIndex === 3"></MaterialList>
    </v-container>
	</v-container>
</template>

<script>
import TaskList from '@design/components/TaskList.vue'
import ViewTask from '@design/components/ViewTask.vue'
import CreateTask from '@design/components/CreateTask.vue'
import MaterialList from '@design/components/MaterialList.vue'

export default {

  name: 'Design',

  components: {
    TaskList,
    ViewTask,
    CreateTask,
    MaterialList
  },

	data () {
		return {
      navItems: [
        { name: '任務清單' },
        { name: '審核設計' },
        { name: '建立任務' },
        { name: '素材清單' },
      ],
      navItemIndex: 0,
      currentTask: {}
		}
	},
	methods: {
    selectNavItem (name) {
      this.navItemIndex = this.navItems.findIndex(navItem => navItem.name === name)
    },
    receiveTask(task) {
      this.currentTask = task
    }
	}
}
</script>

<style>

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
   font-size: 20px !important;
}

.v-image__image {
  background-color: #dbe2ef !important;
}

</style>
