<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="600"
  >
    <v-card>
      <v-toolbar
        :color="status"
        class="text-h4"
        dark
      >
        通知
      </v-toolbar>

      <v-card-text>
        <div class="text-h5 pa-2">{{ message }}</div>
      </v-card-text>

      <v-card-actions class="justify-end">
        <v-btn
          outlined
          x-large
          @click="okBtn"
        >
          知道了
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'AlertDialog',

  props: {
    status: {
      default: 'error'
    },
    show: {
      true: Boolean
    },
    message: {
      type: String
    }
  },

  methods: {
    okBtn () {
      this.$emit('onOk')
    }
  }
}
</script>
