<template>
  <v-container fluid>
    <AlertDialog
      :status="alertDialog.status"
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>
    <v-row dense justify="center" class="pt-5">
      <v-col :cols="10">
        <v-card>
          <v-tabs
            v-model="tab"
            background-color="teal darken-2"
            dark
          >
            <v-tab
              v-for="(item,idx) in navItems"
              :key="idx"
              class="text-h5"
            >
              {{ item.name }}
            </v-tab>
          </v-tabs>
          <DesignForm v-if="tab === 0" :design-on-process="designOnProcess" @emitDesignForm="createDesign"></DesignForm>
          <DeviceForm v-if="tab === 1" :device-on-process="deviceOnProcess" @emitDeviceForm="createDevice"></DeviceForm>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AlertDialog from '@design/components/AlertDialog.vue'
import ConfirmDialog from '@design/components/ConfirmDialog.vue'
import DesignForm from '@design/components/DesignForm.vue'
import DeviceForm from '@design/components/DeviceForm.vue'
import { createDesignTask, createDeviceTask } from '@design/apis/design'

export default {
  name: 'CreateTask',

  components: {
    AlertDialog,
    ConfirmDialog,
    DesignForm,
    DeviceForm
  },

  data () {
    return {
      designOnProcess: false,
      deviceOnProcess: false,
      tab: null,
      navItems: [
        { name: '設計表單', content: '123' },
        { name: '型號表單', content: '11' }
      ],
      alertDialog: {
        status: 'error',
        show: false,
        message: '',
        onOk () {
          this.show = false
          this.message = ''
        }
      },
      confirmDialog: {
        show: false,
        message: '',
        onCancel () {
          this.show = false
          this.message = ''
        },
        onOk () {
          this.onCancel()
        }
      }
    }
  },

  methods: {
    async createDesign(formData) {
      try {
        this.designOnProcess = true
        await createDesignTask(formData)
        this.alertDialog.status = 'success'
        this.alertDialog.message = '建立任務成功'
        this.alertDialog.show = true
      } catch (error) {
        let message = error.response.data.message || ''
        if (error.response && error.response.status === 422) {
          message = '表單輸入錯誤'
        }
        this.alertDialog.status = 'error'
        this.alertDialog.message = message
        this.alertDialog.show = true
      } finally {
        this.designOnProcess = false
      }
    },
    async createDevice(formData) {
      try {
        this.deviceOnProcess = true
        await createDeviceTask(formData)
        this.alertDialog.status = 'success'
        this.alertDialog.message = '建立任務成功'
        this.alertDialog.show = true
      } catch (error) {
        let message = error.response.data.message || ''
        if (error.response && error.response.status === 422) {
          message = '表單輸入錯誤'
        }
        this.alertDialog.status = 'error'
        this.alertDialog.message = message
        this.alertDialog.show = true
      } finally {
        this.deviceOnProcess = false
      }
    }
  }
}
</script>
