<template>
  <v-card flat>
    <v-form
      ref="designForm"
    >
      <v-row v-if="isLoading" dense justify="center" align="center" style="height: 380px;">
        <v-col :cols="4">
          <v-progress-circular
            :size="80"
            color="black"
            indeterminate
          ></v-progress-circular>
          <span class="black--text text-h4 ml-2">載入中請稍候</span>
        </v-col>
      </v-row>
      <v-row v-else dense justify="center" class="py-10">
        <v-col :cols="4" class="mr-5">
          <v-text-field
            v-model.number="form.version"
            min="1"
            dense
            outlined
            label="請輸入版本號"
            type="number"
            :disabled="designOnProcess"
            :rules="[v => !!v || '版本號為必填']"
            required
          ></v-text-field>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.created_user"
            :items="userList"
            label="請選擇建立者"
            item-text="name"
            item-value="value"
            outlined
            dense
            :disabled="designOnProcess"
            :rules="[v => !!v || '建立者為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.case_type"
            :items="caseTypeList"
            label="請選擇產品"
            item-text="name"
            item-value="value"
            outlined
            dense
            :disabled="designOnProcess"
            :rules="[v => !!v || '產品為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.print_type"
            :items="printTypeList"
            label="請選擇印程"
            item-text="name"
            item-value="value"
            outlined
            dense
            :disabled="designOnProcess"
            :rules="[v => !!v || '印程為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.colors"
            :items="gmgColorList"
            label="請選擇顏色"
            item-text="name"
            item-value="value"
            outlined
            dense
            multiple
            :disabled="designOnProcess"
            :rules="[v => !!v || '顏色為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-autocomplete
            v-model="form.devices"
            :items="deviceList"
            outlined
            dense
            small-chips
            deletable-chips
            auto-select-first
            label="請選擇型號"
            item-text="name"
            item-value="value"
            multiple
            :disabled="designOnProcess"
            :rules="[v => !!v || '型號為必填']"
            required
          >
            <template v-slot:item="data">
              <v-list-item-content>
                <v-list-item-title v-html="data.item.name"></v-list-item-title>
                <v-list-item-subtitle v-html="data.item.type"></v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </v-autocomplete>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-text-field
            v-model="form.sort"
            dense
            outlined
            label="請輸入設計分類"
            :disabled="designOnProcess"
            :rules="designSortRules"
            required
          ></v-text-field>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-text-field
            v-model="form.code"
            dense
            outlined
            label="請輸設計代碼"
            :disabled="designOnProcess"
            :rules="designCodeRules"
            required
          ></v-text-field>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-file-input
            show-size
            dense
            label="素材PDF"
            outlined
            @change="uploadPdfFile"
            :disabled="designOnProcess"
            accept="application/pdf"
            :rules="[v => !!v || '素材PDF為必填']"
            required
          ></v-file-input>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-file-input
            show-size
            dense
            label="素材PNG"
            outlined
            accept="image/png"
            @change="uploadPngFile"
            :disabled="designOnProcess"
            :rules="[v => !!v || '素材PNG為必填']"
            required
          ></v-file-input>
        </v-col>
        <v-col :cols="6">
          <v-btn
            color="primary"
            block
            elevation="2"
            class="text-h6"
            style="padding:25px 0px;"
            :disabled="designOnProcess"
            :loading="designOnProcess"
            @click="emitSubmit"
          >
            送出
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>

import { getCaseTypes, getGmgColors, getDevices } from '@design/apis/design'

export default {
  name: 'DesignForm',

  props: {
    designOnProcess: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      isLoading: false,
      printTypeList: [
        { name: 'K', value: 'K' },
        { name: 'W', value: 'W' },
        { name: 'CW', value: 'CW' }
      ],
      userList: [
        { name: 'Carol Li(李宜君)', value: 'Carol Li(李宜君)' },
        { name: 'Cyber Chen(陳建安)', value: 'Cyber Chen(陳建安)' },
        { name: 'Dachi Chien(簡筱錡)', value: 'Dachi Chien(簡筱錡)' },
        { name: 'LaLa Chung(鐘咨青)', value: 'LaLa Chung(鐘咨青)' },
        { name: 'Nomi Cheng(鄭卉君)', value: 'Nomi Cheng(鄭卉君)' },
        { name: 'Tony Tan(譚宇智)', value: 'Tony Tan(譚宇智)' },
        { name: 'Zera Chang(張曼菲)', value: 'Zera Chang(張曼菲)' }
      ],
      caseTypeList: [],
      allGmgColor: [],
      gmgColorList: [
        { name: '26', value: '26' },
        { name: '53', value: '53' },
        { name: 'H6', value: 'H6' },
        { name: 'F5', value: 'F5' }
      ],
      deviceList: [],
      materialPrint: null,
      materialWeb: null,
      form: {
        version: 1,
        case_type: '',
        colors: [],
        devices: [],
        sort: '',
        code: '',
        print_type: '',
        created_user: ''
      },
      designCodeRules: [
        v => !!v || '設計代碼為必填',
        v => /(?=.*[A-Z])/.test(v) || '設計代碼必須包含大寫英文',
        v => /(?=.*\d)/.test(v) || '設計代碼必須包含數字',
        v => !/([!\\@#$%&*/\s])/.test(v) || '設計代碼不能包含特殊字元'
      ],
      designSortRules: [
        v => !!v || '設計分類為必填',
        v => /(?=.*[A-Z])/.test(v) || '設計代碼必須包含大寫英文'
      ]
    }
  },

  watch: {
    "form.case_type"(val) {
      switch (val) {
        case 'ModNX':
          this.form.colors = ['26']
          break
        case 'SolidSuit':
          this.form.colors = ['53']
          break
        case 'AirPodsCase':
          this.form.colors = ['H6']
          break
        case 'Clear':
          this.form.colors = ['F5']
          break
      }
    }
  },

  async mounted () {
    try {
      this.isLoading = true
      await this.getCaseTypeList()
      // await this.getGmgColorList()
      await this.getDeviceList()
    } finally {
      this.isLoading = false
    }
  },

  methods: {
    async getCaseTypeList() {
      const params = {
        active: true
      }
      const data = (await getCaseTypes(params)).data
      this.caseTypeList = data.map(row => {
        return {
          name: row.name,
          value: row.name
        }
      })
    },

    async getGmgColorList() {
      this.allGmgColor = (await getGmgColors()).data
    },

    async getDeviceList() {
      const data = (await getDevices()).data
      this.deviceList = data.map(row => {
        return {
          name: row.name,
          value: row.code,
          type: row.type
        }
      })
      this.deviceList.push({name: 'iPhone全部', value: 'iPhone全部', type: 'iphone'})
      this.deviceList.push({name: 'iPhone11-13全部', value: 'iPhone11-13全部', type: 'iphone11-13'})
      this.deviceList.push({name: 'Android全部', value: 'Android全部', type: 'android'})
      this.deviceList.push({name: 'Airpods全部', value: 'Airpods全部', type: 'airpods'})
    },

    uploadPdfFile (file) {
      this.materialPrint = file
    },

    uploadPngFile (file) {
      this.materialWeb = file
    },

    emitSubmit() {
      const valid = this.$refs.designForm.validate()
      if (this.form.colors.length === 0 || this.form.devices.length === 0) return
      if (valid) {
        const formData = new FormData()
        for (const [key, value] of Object.entries(this.form)) {
          if (['colors', 'devices'].includes(key)) {
            for (var i = 0; i < this.form[key].length; i++) {
                formData.append(`${key}[]`, this.form[key][i]);
            }
          } else {
            formData.append(key, value)
          }
        }
        if (this.materialPrint !== null) formData.append('material_print', this.materialPrint)
        if (this.materialWeb !== null) formData.append('material_web', this.materialWeb)
        this.$emit('emitDesignForm', formData)
      }
    }
  }
}
</script>
