<template>
  <v-card flat>
    <v-form
      ref="deviceForm"
    >
      <v-row v-if="isLoading" dense justify="center" align="center" style="height: 380px;">
        <v-col :cols="4">
          <v-progress-circular
            :size="80"
            color="black"
            indeterminate
          ></v-progress-circular>
          <span class="black--text text-h4 ml-2">載入中請稍候</span>
        </v-col>
      </v-row>
      <v-row v-else dense justify="center" class="py-10">
        <v-col :cols="4" class="mr-5">
          <v-text-field
            v-model.number="form.version"
            min="1"
            dense
            outlined
            label="請輸入版本號"
            type="number"
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '版本號為必填']"
            required
          ></v-text-field>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.created_user"
            :items="userList"
            label="請選擇建立者"
            item-text="name"
            item-value="value"
            outlined
            dense
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '建立者為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-text-field
            v-model="form.code"
            dense
            outlined
            label="請輸入型號代碼"
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '型號代碼為必填']"
            required
            @input="findDevice"
          ></v-text-field>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-text-field
            v-model="form.name"
            dense
            outlined
            label="請輸入型號名稱"
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '型號名稱為必填']"
            required
          ></v-text-field>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.brand_code"
            :items="brandList"
            label="請選擇品牌"
            item-text="name"
            item-value="value"
            outlined
            dense
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '品牌為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.case_type"
            :items="caseTypeList"
            label="請選擇產品"
            item-text="name"
            item-value="value"
            outlined
            dense
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '產品為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-select
            v-model="form.colors"
            :items="gmgColorList"
            label="請選擇顏色"
            item-text="name"
            item-value="value"
            outlined
            dense
            multiple
            :disabled="deviceOnProcess"
            :rules="[v => !!v || '顏色為必填']"
            required
          ></v-select>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-file-input
            show-size
            dense
            label="遮色片PDF"
            outlined
            @change="uploadPdfFile"
            :disabled="deviceOnProcess"
            accept="application/pdf"
            :rules="[v => !!v || '遮色片PDF為必填']"
            required
          ></v-file-input>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-file-input
            show-size
            dense
            label="遮色片PNG"
            outlined
            @change="uploadMaskPngFile"
            :disabled="deviceOnProcess"
            accept="image/png"
            :rules="[v => !!v || '遮色片PNG為必填']"
            required
          ></v-file-input>
        </v-col>
        <v-col :cols="4" class="mr-5">
          <v-file-input
            show-size
            dense
            label="陰影PNG"
            outlined
            @change="uploadShadowPngFile"
            :disabled="deviceOnProcess"
            accept="image/png"
          ></v-file-input>
        </v-col>
        <v-col :cols="6">
          <v-btn
            color="primary"
            block
            elevation="2"
            class="text-h6"
            style="padding:25px 0px;"
            :disabled="deviceOnProcess"
            :loading="deviceOnProcess"
            @click="emitSubmit"
          >
            送出
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
import { getCaseTypes, getGmgColors, getBrands, getDevices } from '@design/apis/design'

export default {
  name: 'DeviceForm',

  props: {
    deviceOnProcess: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      isLoading: false,
      userList: [
        { name: 'Carol Li(李宜君)', value: 'Carol Li(李宜君)' },
        { name: 'Cyber Chen(陳建安)', value: 'Cyber Chen(陳建安)' },
        { name: 'Dachi Chien(簡筱錡)', value: 'Dachi Chien(簡筱錡)' },
        { name: 'LaLa Chung(鐘咨青)', value: 'LaLa Chung(鐘咨青)' },
        { name: 'Nomi Cheng(鄭卉君)', value: 'Nomi Cheng(鄭卉君)' },
        { name: 'Tony Tan(譚宇智)', value: 'Tony Tan(譚宇智)' },
        { name: 'Zera Chang(張曼菲)', value: 'Zera Chang(張曼菲)' }
      ],
      gmgColorList: [
        { name: '26', value: '26' },
        { name: '53', value: '53' },
        { name: 'H6', value: 'H6' },
        { name: 'F5', value: 'F5' }
      ],
      caseTypeList: [],
      deviceList: [],
      brandList: [],
      allGmgColor: [],
      maskPrint: null,
      maskWeb: null,
      shadowWeb: null,
      form: {
        version: 1,
        brand_code: '',
        code: '',
        name: '',
        case_type: '',
        colors: [],
        created_user: ''
      }
    }
  },

  watch: {
    "form.case_type"(val) {
      switch (val) {
        case 'ModNX':
          this.form.colors = ['26']
          break
        case 'SolidSuit':
          this.form.colors = ['53']
          break
        case 'AirPodsCase':
          this.form.colors = ['H6']
          break
        case 'Clear':
          this.form.colors = ['F5']
          break
      }
    }
  },

  async mounted() {
    try {
      this.isLoading = true
      await this.getCaseTypeList()
      // await this.getGmgColorList()
      await this.getBrandList()
      await this.getDeviceList()
    } finally {
      this.isLoading = false
    }
  },

  methods: {
    async getCaseTypeList() {
      const params = {
        active: true
      }
      const data = (await getCaseTypes(params)).data
      this.caseTypeList = data.map(row => {
        return {
          name: row.name,
          value: row.name
        }
      })
    },

    async getGmgColorList() {
      this.allGmgColor = (await getGmgColors()).data
    },

    async getBrandList() {
      const data = (await getBrands()).data
      this.brandList = data.map(row => {
        return {
          name: row.name,
          value: row.code
        }
      })
    },

    async getDeviceList() {
      const data = (await getDevices()).data
      this.deviceList = data.map(row => {
        return {
          name: row.name,
          value: row.code,
          type: row.type
        }
      })
    },

    uploadPdfFile (file) {
      this.maskPrint = file
    },

    uploadMaskPngFile (file) {
      this.maskWeb = file
    },

    uploadShadowPngFile (file) {
      this.shadowWeb = file
    },

    emitSubmit() {
      const valid = this.$refs.deviceForm.validate()
      if (this.form.colors.length === 0) return
      if (valid) {
        const formData = new FormData()
        for (const [key, value] of Object.entries(this.form)) {
          if (['colors'].includes(key)) {
            for (var i = 0; i < this.form[key].length; i++) {
                formData.append(`${key}[]`, this.form[key][i]);
            }
          } else {
            formData.append(key, value)
          }
        }
        if (this.maskPrint !== null) formData.append('mask_print', this.maskPrint)
        if (this.maskWeb !== null) formData.append('mask_web', this.maskWeb)
        if (this.shadowWeb !== null) formData.append('shadow_web', this.shadowWeb)
        this.$emit('emitDeviceForm', formData)
      }
    },

    findDevice(event) {
      const device = this.deviceList.find(device => {
        return (device.value === event)
      })
      if (device) {
        this.form.name = device.name
      }
    }
  }
}
</script>
