<template>
  <v-card
    max-width="280"
    :max-height="isAllowed? 420 : 380"
    class="ma-1 mt-2"
  >
    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>
    <div class="d-flex justify-center" style="width:280px;height:230px">
      <img :src="`${fileServer}${caseDir}/${casePath}`" alt="casePath" height="230" style="position:absolute;">
      <img :src="`${fileServer}${designDir}/${outputWebPath}`" alt="outputWebPath" height="230" style="position:absolute;">
    </div>
    <v-row class="text-h6 ma-0 ml-3">
      <v-col :cols="12" class="ma-0 pa-0 mt-1 text-center text-subtitle-1 font-weight-bold">
        {{ design.filename }}
      </v-col>
      <v-col :cols="12" class="ma-0 pa-0 mt-1 text-subtitle-1 font-weight-bold">
        <v-chip :color="havePrint? 'green' : 'red'" outlined>印刷檔</v-chip>
        <v-chip :color="haveWeb? 'green' : 'red'" outlined>預覽圖</v-chip>
      </v-col>
      <v-col :cols="8" class="ma-0 pa-0 font-weight-regular">
        設計編碼:{{ design.code }}
      </v-col>
      <v-col :cols="4" class="ma-0 pa-0 font-weight-regular">
        版本:{{ design.material.version }}
      </v-col>
      <v-col :cols="8" class="ma-0 pa-0 font-weight-regular">
        產品:{{ design.caseType }}
      </v-col>
      <v-col :cols="4" class="ma-0 pa-0 font-weight-regular">
        印程:{{ design.printType }}
      </v-col>
      <v-col :cols="6" class="ma-0 pa-0 font-weight-regular">
        型號:{{ design.deviceCode }}
      </v-col>
      <v-col :cols="5" class="ma-0 pa-0 font-weight-regular">
        顏色:{{ design.colorCode }}
      </v-col>
    </v-row>
    <v-card-actions v-if="isAllowed">
      <v-btn
        color="error"
        block
        elevation="2"
        class="text-h6"
        :disabled="onProcess"
        :loading="onProcess"
        @click="emitNotAllowed"
      >
        不出
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>

import ConfirmDialog from '@design/components/ConfirmDialog.vue'
import { fileServer, designDir, caseDir } from '@design/config/index'

export default {
  name: 'ItemCard',

  props: {
    design: {
      type: Object,
      required: true
    },
    casePath: {
      type: String,
      required: true
    },
    outputWebPath: {
      type: String,
      required: true
    },
    isAllowed: {
      type: Boolean,
      required: true
    },
    id: {
      type: Number,
      required: true
    },
    onProcess: {
      type: Boolean,
      default: false
    },
    haveWeb: {
      type: Boolean,
      default: false
    },
    havePrint: {
      type: Boolean,
      default: false
    }
  },

  components: {
    ConfirmDialog
  },

  data () {
    return {
      fileServer: fileServer,
      designDir: designDir,
      caseDir: caseDir,
      confirmDialog: {
        show: false,
        message: '',
        onCancel () {
          this.show = false
          this.message = ''
        },
        onOk () {
          this.onCancel()
        }
      }
    }
  },

  methods: {
    emitNotAllowed () {
      this.confirmDialog.message = '確定不出該設計？'
      this.confirmDialog.onOk = () => {
        this.$emit('markNotAllowed', this.id)
        this.confirmDialog.onCancel()
      }
      this.confirmDialog.show = true
    }
  }
}
</script>
