<template>
  <v-container fluid>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <v-row class="align-center">
      <v-col :cols="4">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="模糊搜尋"
          single-line
          hide-details
          dense
          outlined
          background-color="white"
          color="grey darken-1"
        ></v-text-field>
      </v-col>
      <v-col :cols="8" class="d-flex justify-end">
        <v-btn
          large
          color="light-green"
          :loading="isLoading"
          :disabled="isLoading"
          @click="fetchData"
          class="mr-3"
        >
          <v-icon>
            mdi-refresh
          </v-icon>
          更新
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="mt-0">
      <v-col :cols="12">
        <v-data-table
          :headers="tableHeaders"
          :items="tableItems"
          :search="search"
          class="elevation-1"
          height="560px"
          :items-per-page="-1"
          fixed-header
          :loading="isLoading"
          loading-text="載入中請稍候"
          no-data-text="無資料顯示"
          hide-default-footer
        >
          <template v-slot:item.webPath="{ item }">
            <v-img
              :src="`${fileServer}${designDir}/${item.webPath}`"
              :lazy-src="`${fileServer}${designDir}/${item.webPath}`"
              aspect-ratio="1"
              max-width="150"
              @click="openImage(item.webPath)"
              style="cursor:pointer; margin: 0 auto;"
            >
              <template v-slot:placeholder>
                <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-progress-circular
                    indeterminate
                    color="teal darken-2"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AlertDialog from '@design/components/AlertDialog.vue'
import { getMaterials } from '@design/apis/design'
import { fileServer, designDir } from '@design/config/index'

export default {

  name: 'MaterialList',

  components: {
    AlertDialog
  },

	data () {
		return {
      fileServer: fileServer,
      designDir: designDir,
      isLoading: false,
      search: '',
      materialData: [],
      tableHeaders: [
        { text: '圖片', value: 'webPath', sortable: true, align: 'center', width: '100px', fixed: true },
        { text: '版本', value: 'version', sortable: true, align: 'center', width: '100px', fixed: true },
        { text: '產品線', value: 'caseType', sortable: false, align: 'center', width: '100px', fixed: true },
        { text: '設計編碼', value: 'code', sortable: false, align: 'center', width: '100px', fixed: true },
        { text: '檔名', value: 'filename', sortable: false, align: 'center', width: '200px', fixed: true },
      ],
      alertDialog: {
        show: false,
        message: '',
        onOk () {
          this.show = false
          this.message = ''
        }
      }
		}
	},
  computed: {
    tableItems () {
      return this.materialData
    }
  },
  async mounted() {
    await this.fetchData()
  },
  methods: {
    async fetchData() {
      try {
        this.isLoading = true
        this.materialData = (await getMaterials()).data
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },
    openImage(imagePath) {
      const path = `${this.fileServer}${this.designDir}/${imagePath}`
      const link = document.createElement('a')
      link.setAttribute('href', path)
      link.setAttribute('target', '_blank')
      document.body.appendChild(link)
      link.click()
    }
  }
}
</script>
