<template>
  <v-card
      outlined
      class="pa-0 mx-0 my-2"
      color="teal darken-2"
      dense
    >
    <v-row dense justify="center" align="center" style="height: 570px;">
      <v-col :cols="4">
        <span class="white--text text-h4 ml-2">
          <v-icon
            color="white"
            class="text-h3"
          >
            mdi-google-downasaur
          </v-icon>
          目前無資料顯示
        </span>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>

export default {
  name: 'NoData'
}
</script>
