<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="800"
  >
    <v-card>
      <v-toolbar
        color="primary"
        class="text-h4"
        dark
      >
        發送 Slack 通知
      </v-toolbar>

      <v-form
        ref="slackForm"
      >
        <v-row class="ma-2 mb-0">
          <v-col :cols="4">
            <v-text-field
              :value="task.typeText"
              dense
              outlined
              label="任務類型"
              disabled
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              :value="task.payload.case_type"
              dense
              outlined
              label="產品類型"
              disabled
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              :value="getDevices()"
              dense
              outlined
              label="手機型號"
              disabled
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              v-if="task.type === 'design'"
              :value="task.payload.code"
              dense
              outlined
              label="設計編碼"
              disabled
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              v-model="form.department"
              dense
              outlined
              label="請輸入需求單位"
              :rules="[v => !!v || '需求單位為必填']"
              required
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              v-model="form.content"
              dense
              outlined
              label="請輸入設計內容"
              :rules="[v => !!v || '設計內容為必填']"
              required
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              v-model="form.area"
              dense
              outlined
              label="請輸入區域"
              :rules="[v => !!v || '區域為必填']"
              required
            ></v-text-field>
          </v-col>
          <v-col :cols="4">
            <v-menu
              v-model="dateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="form.published_at"
                  readonly
                  outlined
                  dense
                  v-bind="attrs"
                  v-on="on"
                  hide-details="auto"
                  label="請輸入預計上線日期"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="form.published_at"
                @input="dateMenu = false"
                hide-details="auto"
                locale="zh-cn"
              ></v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
      </v-form>
      <v-card-actions class="justify-end">
        <v-btn
          outlined
          x-large
          @click="cancelBtn"
        >
          取消
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          outlined
          x-large
          @click="okBtn"
        >
          <v-icon
            color="green"
          >
            mdi-check-outline
          </v-icon>
          確定執行
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'SlackFormDialog',

  props: {
    show: {
      type: Boolean,
      required: true
    },
    task: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      dateMenu: false,
      form: {
        department: '',
        content: '',
        area: '',
        published_at: ''
      }
    }
  },

  methods: {
    okBtn () {
      if (this.form.published_at === '') return
      const valid = this.$refs.slackForm.validate()
      if (valid) {
        this.$emit('onOk', this.form)
      }
    },

    cancelBtn () {
      this.$emit('onCancel')
    },

    getDevices () {
      if (this.task.type === 'design') {
        return this.task.payload.devices.join(',')
      } else {
        return this.task.payload.code
      }
    }
  }
}
</script>
