<template>
  <v-container fluid>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>
    <v-row class="align-center">
      <v-col :cols="4">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="模糊搜尋"
          single-line
          hide-details
          dense
          outlined
          background-color="white"
          color="grey darken-1"
        ></v-text-field>
      </v-col>
      <v-col :cols="8" class="d-flex justify-end">
        <v-btn
          large
          color="light-green"
          :loading="isLoading"
          :disabled="isLoading"
          @click="fetchData"
          class="mr-3"
        >
          <v-icon>
            mdi-refresh
          </v-icon>
          更新
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="mt-0">
      <v-col :cols="12">
        <v-data-table
          :headers="tableHeaders"
          :items="tableItems"
          :search="search"
          class="elevation-1"
          height="560px"
          :items-per-page="-1"
          fixed-header
          :loading="isLoading"
          loading-text="載入中請稍候"
          no-data-text="無資料顯示"
          hide-default-footer
        >
          <template v-slot:item.statusText="{ item }">
            <v-chip
              :color="handleStatus(item.status)"
              class="black--text"
            >
              {{ item.statusText }}
            </v-chip>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn
              v-if="item.status !== 'pending'"
              color="primary"
              @click="viewTask(item)"
            >
              <v-icon
                small
                class="mr-2"
              >
                mdi-content-copy
              </v-icon>
              複製
            </v-btn>
            <v-btn
              v-if="item.status === 'pending'"
              color="error"
              @click="confirmUrgentTask(item)"
            >
              <v-icon
                small
                class="mr-2"
              >
                mdi-rocket
              </v-icon>
              急件
            </v-btn>
            <v-btn
              v-if="['making', 'made'].includes(item.status)"
              color="error"
              @click="confirmCancelledTask(item)"
            >
              <v-icon
                small
                class="mr-2"
              >
                mdi-close
              </v-icon>
              取消
            </v-btn>
            <v-btn
              v-if="item.status === 'pending'"
              color="error"
              @click="confirmDeleteTask(item)"
            >
              <v-icon
                small
                class="mr-2"
              >
                mdi-trash-can
              </v-icon>
              刪除
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AlertDialog from '@design/components/AlertDialog.vue'
import ConfirmDialog from '@design/components/ConfirmDialog.vue'
import { getTasks, deleteTask, markAsCancelled, markAsUrgent } from '@design/apis/design'

export default {

  name: 'TaskList',

  components: {
    AlertDialog,
    ConfirmDialog
  },

	data () {
		return {
      isLoading: false,
      search: '',
      taskData: [],
      tableHeaders: [
        { text: '類型', value: 'typeText', sortable: false, align: 'center', width: '100px', fixed: true },
        { text: '狀態', value: 'statusText', sortable: false, align: 'center', width: '100px', fixed: true },
        { text: '名稱', value: 'name', sortable: false, align: 'center', width: '280px', fixed: true },
        { text: '版本', value: 'version', sortable: false, align: 'center', width: '50px', fixed: true },
        { text: '進度', value: 'progress', sortable: false, align: 'center', width: '50px', fixed: true },
        { text: '花費時間', value: 'spentTime', sortable: false, align: 'center', width: '80px', fixed: true },
        { text: '建立者', value: 'createdUser', sortable: false, align: 'center', width: '120px', fixed: true },
        { text: '動作', value: 'actions', sortable: false, align: 'center', width: '200px' }
      ],
      alertDialog: {
        show: false,
        message: '',
        onOk () {
          this.show = false
          this.message = ''
        }
      },
      confirmDialog: {
        show: false,
        message: '',
        onCancel () {
          this.show = false
          this.message = ''
        },
        onOk () {
          this.onCancel()
        }
      }
		}
	},
  computed: {
    tableItems () {
      return this.taskData
    }
  },
  async mounted() {
    await this.fetchData()
  },
  methods: {
    async fetchData() {
      try {
        this.isLoading = true
        this.taskData = (await getTasks()).data
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },
    confirmDeleteTask(taskItem) {
      this.confirmDialog.message = `確定要刪除任務ID:${taskItem.id}？`
      const index = this.taskData.findIndex(item => item.id === taskItem.id)
      if (index < 0) return
      this.confirmDialog.onOk = async () => {
        try {
          await deleteTask(taskItem.id)
          this.taskData.splice(index, 1)
        } catch (error) {
          this.alertDialog.message = error.response.data.message || ''
          this.alertDialog.show = true
        } finally {
          this.confirmDialog.onCancel()
        }
      }
      this.confirmDialog.show = true
    },
    confirmCancelledTask(taskItem) {
      this.confirmDialog.message = `確定要取消任務ID:${taskItem.id}?`
      const index = this.taskData.findIndex(item => item.id === taskItem.id)
      if (index < 0) return
      this.confirmDialog.onOk = async () => {
        try {
          await markAsCancelled(taskItem.id)
          this.taskData.splice(index, 1)
        } catch (error) {
          this.alertDialog.message = error.response.data.message || ''
          this.alertDialog.show = true
        } finally {
          this.confirmDialog.onCancel()
        }
      }
      this.confirmDialog.show = true
    },
    confirmUrgentTask(taskItem) {
      this.confirmDialog.message = `確定要標記急件任務ID:${taskItem.id}?`
      this.confirmDialog.onOk = async () => {
        try {
          await markAsUrgent(taskItem.id)
          taskItem.status = 'making'
          taskItem.statusText = '製作檔案中'
        } catch (error) {
          this.alertDialog.message = error.response.data.message || ''
          this.alertDialog.show = true
        } finally {
          this.confirmDialog.onCancel()
        }
      }
      this.confirmDialog.show = true
    },
    handleStatus(status) {
      let result = ''
      switch (status) {
        case 'making':
          result = 'orange'
          break;
        case 'made':
          result = 'yellow'
          break;
        case 'checked':
          result = 'green'
          break;
        default:
          result = 'secondary'
          break;
      }
      return result;
    },
    viewTask(item) {
      this.$emit('copyTask', item)
    }
  }
}
</script>
