<template>
  <v-container fluid>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>
    <v-row class="justify-space-between">
      <v-col :cols="5">
        <v-text-field
          v-model="taskId"
          solo
          outlined
          light
          color="grey darken-1"
          hide-details="auto"
          prepend-inner-icon="mdi-magnify"
          placeholder="請輸入任務ID"
          @input="writeTaskId($event)"
        >
        </v-text-field>
      </v-col>
      <v-col :cols="4" class="text-end">
        <v-btn
          text
          outlined
          x-large
          class="white text-subtitle1"
          @click="searchTaskItems(taskId)"
        >
          <v-icon>
            mdi-refresh
          </v-icon>
          更新
        </v-btn>
        <v-btn
          v-if="paginator.total > 0 && hasNotAllowedItems"
          outlined
          x-large
          class="white text-subtitle1"
          :disabled="downloadOnProcess"
          :loading="downloadOnProcess"
          @click="downloadNotAllowedZip"
        >
          <v-icon
            color="primary"
            class="mr-1"
          >
            mdi-briefcase-download-outline
          </v-icon>
          下載不出的設計
        </v-btn>
        <v-btn
          v-if="paginator.total > 0"
          outlined
          x-large
          class="white text-subtitle1"
          :disabled="onProcess"
          :loading="onProcess"
          @click="markChecked"
        >
          <v-icon
            color="green"
            class="mr-1"
          >
            mdi-shield-check-outline
          </v-icon>
          審核完成
        </v-btn>
      </v-col>
    </v-row>
    <DataLoading v-if="isLoading"></DataLoading>
    <NoData v-if="!isLoading && paginator.total === 0"></NoData>
    <v-row v-if="!isLoading && paginator.total > 0" dense align="center" style="height: 570px">
      <v-col :cols="1" class="text-center">
        <v-btn
          v-if="hasPrev"
          outlined
          x-large
          class="white"
          @click="prev"
        >
          <v-icon
            color="green"
            class="text-h3"
          >
            mdi-chevron-double-left
          </v-icon>
        </v-btn>
      </v-col>
      <v-col :cols="10">
        <v-card
          outlined
          class="pa-0 mx-0 my-2"
          color="teal darken-2"
          dense
        >
          <v-row dense justify="center" style="height: 570px; overflow-y:auto">
            <ItemCard
              v-for="item in currentItems"
              :key="item.id"
              v-bind="item"
              @markNotAllowed="markNotAllowed"
            ></ItemCard>
          </v-row>
        </v-card>
      </v-col>
      <v-col :cols="1" class="text-center">
        <v-btn
          v-if="hasNext"
          outlined
          x-large
          class="white"
          @click="next"
        >
          <v-icon
            color="green"
            class="text-h3"
          >
            mdi-chevron-double-right
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AlertDialog from '@design/components/AlertDialog.vue'
import ConfirmDialog from '@design/components/ConfirmDialog.vue'
import DataLoading from '@design/components/DataLoading.vue'
import NoData from '@design/components/NoData.vue'
import ItemCard from '@design/components/ItemCard.vue'
import { getTaskItems, markAsNotAllowed, markAsChecked, downloadZip } from '@design/apis/design'
import { debounce } from 'lodash'

export default {

  name: 'ViewTask',

  props: {
    currentTask: {
      type: Object,
      default: {}
    }
  },

  components: {
    AlertDialog,
    ConfirmDialog,
    DataLoading,
    NoData,
    ItemCard
  },

	data () {
		return {
      isLoading: false,
      onProcess: false,
      downloadOnProcess: false,
      taskId: '',
      taskItems: [],
      paginator: {
        perPage: 8,
        currentPage: 1,
        totalPage: 0,
        total: 0,
        data: []
      },
      alertDialog: {
        show: false,
        message: '',
        onOk () {
          this.show = false
          this.message = ''
        }
      },
      confirmDialog: {
        show: false,
        message: '',
        onCancel () {
          this.show = false
          this.message = ''
        },
        onOk () {
          this.onCancel()
        }
      }
    }
  },

  computed: {
    currentItems() {
      return this.paginator.data[this.paginator.currentPage - 1]
    },
    hasNext() {
      return this.paginator.totalPage > this.paginator.currentPage
    },
    hasPrev() {
      return (this.paginator.currentPage - 1) > 0
    },
    hasNotAllowedItems() {
      return this.taskItems.some(item => !item.isAllowed && item.haveWeb)
    }
  },

  async mounted() {
    if (Object.keys(this.currentTask).length > 0) {
      const taskId = this.currentTask.id.toString()
      await this.searchTaskItems(taskId)
    }
  },

  methods: {
    resetPage () {
      this.taskId = ''
      this.taskItems = []
      this.paginator.total = 0
      this.paginator.data = []
      this.paginator.currentPage = 1
      this.paginator.totalPage = 0
    },

    writeTaskId: debounce(async function (event) {
      await this.searchTaskItems(event)
    }, 500),

    async searchTaskItems(event) {
      try {
        this.isLoading = true
        this.resetPage()
        if (event === '') return
        this.taskId = event.trim()
        let originData = (await getTaskItems(this.taskId)).data
        this.taskItems = originData.map(row => {
          row.onProcess = false
          return row
        })
        this.computePageData(this.taskItems)
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },

    computePageData(originData) {
      const per = this.paginator.perPage
      let data = []
      originData.forEach((item, index) => {
        if (index % per === 0) {
          data.push([])
        }
        const page = parseInt(index/per)
        data[page].push(item)
      })
      this.paginator.total = originData.length
      this.paginator.totalPage = data.length
      this.paginator.currentPage = 1
      this.paginator.data = data
    },

    prev() {
      return this.paginator.currentPage -= 1
    },

    next() {
      return this.paginator.currentPage += 1
    },

    async markNotAllowed (itemId) {
      const currentIndex = this.currentItems.findIndex(item => item.id === itemId)
      try {
        this.currentItems[currentIndex].onProcess = true
        await markAsNotAllowed(itemId)
        this.currentItems[currentIndex].isAllowed = false
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.currentItems[currentIndex].onProcess = false
      }
    },

    async markChecked() {
      try {
        this.onProcess = true
        const notFinishedItems = this.taskItems.filter(item => {
          return (item.isAllowed && (!item.havePrint || !item.haveWeb))
        })
        if (notFinishedItems.length > 0) {
          this.alertDialog.message = `尚有${notFinishedItems.length}個還沒完成`
          this.alertDialog.show = true
          return
        }
        await markAsChecked(this.taskId)
        this.resetPage()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.onProcess = false
      }
    },

    async downloadNotAllowedZip() {
      try {
        this.downloadOnProcess = true
        const res = await downloadZip(this.taskId)
        const objURL = URL.createObjectURL(res)
        const link = document.createElement('a')
        link.setAttribute('href', objURL)
        link.setAttribute('download', `Task${this.taskId}.zip`)
        document.body.appendChild(link)
        link.click()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.downloadOnProcess = false
      }
    }
  }
}
</script>

